<script src="https://kit.fontawesome.com/42147adfb1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0">Welcome to E-learning</p>
                </div>
                <form action="/Login" method="POST" id="form">
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example3" class="form-control form-control-lg"
                               placeholder="Enter UserName" name="Username" required>
                        <label class="form-label" for="form3Example3"></label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="form3Example4" class="form-control form-control-lg"
                               placeholder="Enter password" name="Password" required />
                        <label class="form-label" for="form3Example4"></label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="form-check mb-0">
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                 <a href="/ForgotPassword">Forgot Password</a>
                        </div>
                    </div>
                    <p class="text-danger">@ViewData["message"]</p>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-info btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;color: white">
                            Login
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? <a href="/Register"
                                                      class="link-danger">Register</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>